@model TechnicalGroup.Areas.TechnicalGroupAdmin.Models.AdminVM.VMProductPhotos
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/TechnicalGroupAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div id="kt_content" class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background:white !important">
    <h3 class="text-center text-danger">Məhsul haqqında detallı</h3>
    <hr />
    <div class="container-fluid">
        <div class="col-12 image-col">
            <h3><b>Proyektin şəkilləri :</b></h3>
            <ul class="d-flex multi-image-ul">
                @foreach (var photos in Model.Photos)
                {
                    <li class="multi-image-li">
                        <img class="img-thumbnail img-shadow multi-image-img" src="~/images/Products/@(photos.Photo)" style="width:250px" />
                    </li>

                }
            </ul>
        </div>
        <div class="col-12">
            <p><b>Məhsulun adı</b> - @Model.Product.Name</p>
        </div>
        <div class="col-12">
            <p><b>Məhsulun qiyməti</b> - @Model.Product.Price ₼</p>
        </div>
        @if (Model.Product.Discount > 0)
        {
            <div class="col-12">
                <p><b>Məhsulun endirimi</b> - @Model.Product.Discount %</p>
            </div>
        }
        else
        {
            <div class="col-12">
                <p><b>Məhsulun endirimi</b> - Yoxdur</p>
            </div>
        }
        @if (!Model.Product.IsActive)
        {
            <div class="col-12">
                <p><b>Məhsulun aktivliyi</b> - Aktivdir</p>
            </div>
        }
        else
        {
            <div class="col-12">
                <p><b>Məhsulun endirimi</b> - Aktiv deyil</p>
            </div>
        }

        <div class="col-12">
            <p><b>Məhsul haqqında qısa məlumat(AZE)</b> - @Html.Raw(Model.Product.Info_Az)</p>
        </div>
        <div class="col-12">
            <p><b>Məhsul haqqında qısa məlumat(RUS)</b> - @Html.Raw(Model.Product.Info_Ru)</p>
        </div>
        <div class="col-12">
            <p><b>Məhsul haqqında qısa məlumat(ENG)</b> - @Html.Raw(Model.Product.Info)</p>
        </div>
        <div class="col-12">
            <p><b>Məhsul haqqında ətraflı(AZE)</b> - @Html.Raw(Model.Product.Description_Az)</p>
        </div>
        <div class="col-12">
            <p><b>Məhsul haqqında ətraflı(RUS)</b> - @Html.Raw(Model.Product.Description_Ru)</p>
        </div>
        <div class="col-12">
            <p><b>Məhsul haqqında ətraflı(ENG)</b> - @Html.Raw(Model.Product.Description)</p>
        </div>
    </div>
    <hr />
</div>
<div class="col-12">

    <a asp-action="Index" class="btn btn-primary btn-block btn-lg" style="margin: 30px 0;">
        <i class="fas fa-long-arrow-alt-left"></i> Geriyə qayıt
    </a>
</div>

