@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization;
@model VMSingleBlog

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    List<Post> posts = ViewBag.Posts as List<Post>;

    int indexOfPost = posts.IndexOf(Model.Post);

    Post next = null;
    Post prev = null;

    if (indexOfPost != 0)
    {
        prev = posts[indexOfPost - 1];
    }

    if(indexOfPost != posts.Count() - 1)
    {
        next = posts[indexOfPost + 1];
    }

    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Page Title -->
<div class="page-title-area">


    <div class="shape1"><img src="~/User/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/User/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/User/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/User/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/User/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/User/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/User/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/User/assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->
<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="blog-details">
                    <div class="article-img">
                        <img src="~/images/@Model.Post.Image" alt="blog-details" style="width:100%">
                        <div class="date">
                            @Model.Post.CreatedDate.ToString("dd") <br>

                            @if (ViewBag.lang == "az")
                            {
                                @Model.Post.CreatedDate.ToString("MMMM", new CultureInfo("az-Latn-AZ"))
                            }
                            else if (ViewBag.lang == "ru")
                            {
                                @Model.Post.CreatedDate.ToString("MMMM", new CultureInfo("ru-RU"))
                            }
                            else
                            {
                                @Model.Post.CreatedDate.ToString("MMMM", new CultureInfo("en-GB"))
                            }

                        </div>
                    </div>

                    <div class="article-content">


                        <p>
                            @if (ViewBag.lang == "az")
                            {
                                @Html.Raw(Model.Post.Text_Az)
                            }
                            else if (ViewBag.lang == "ru")
                            {
                                @Html.Raw(Model.Post.Text_Ru)
                            }
                            else
                            {
                                @Html.Raw(Model.Post.Text)
                            }
                        </p>

                    </div>
                </div>

                <div class="post-controls-buttons">
                    @if (prev != null)
                    {
                        <div class="controls-left">
                            <a asp-controller="Home" asp-action="BlogDetail" asp-route-id="@prev.ID"><i data-feather="chevron-left"></i>@Localizer["prev"]</a>
                        </div>
                    }

                    @if (next != null)
                    {
                        <div class="controls-right">
                            <a asp-controller="Home" asp-action="BlogDetail" asp-route-id="@next.ID">@Localizer["next"] <i data-feather="chevron-right"></i></a>
                        </div>
                    }


                </div>

                <partial name="_Comments" model="Model" />

            </div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->
