@model TechnicalGroup.Models.Post

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/TechnicalGroupAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div id="kt_content" class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background:white !important">
    <h3 class="text-center text-danger">Silmək istədiyinizdən əminsiniz mi ?</h3>

    <div class="container-fluid">

        <div class="col-12 image-col">
            <ul class="image-list">
                <li>
                    <b>Xəbərin şəkli :</b>
                </li>
                <li>
                    <img src="~/images/@Model.Image" alt="Alternate Text" class="img-thumbnail img-shadow text-center" style="width:250px" />
                </li>
            </ul>
        </div>
        <hr />
        <div class="col-12">
            <p><b>Xəbərin başlığı (AZE)</b> - @Model.Title_Az</p>
        </div>
        <div class="col-12">
            <p><b>Xəbərin başlığı (RUS)</b> - @Model.Title_Ru</p>
        </div>
        <div class="col-12">
            <p><b>Xəbərin başlığı (ENG)</b> - @Model.Title</p>
        </div>
        <div class="col-12">
            <b>Xəbərin mətni (AZE)</b> - @Html.Raw(Model.Text_Az)
        </div>
        <div class="col-12">
            <b>Xəbərin mətni (RUS)</b> - @Html.Raw(Model.Text_Az)
        </div>
        <div class="col-12">
            <b>Xəbərin mətni (ENG)</b> - @Html.Raw(Model.Text)
        </div>
        <div class="col-12">
            <p><b>Xəbərin yaranma tarixi</b> - @Model.CreatedDate</p>
        </div>
        <div class="col-12">
            <p><b>Xəbərin yazarı</b> - @Model.PostWriter.Fullname</p>
        </div>
        <div class="col-12">
            <p><b>Xəbərin instagram linki</b> - @Model.InstagramURL</p>
        </div>
        <hr />
    </div>
</div>
<form asp-action="Delete" class="text-center">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Sil" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-primary">Geriyə qayıt</a>
</form>
